.signup-page-container{
    background: url('../../images/lake1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    min-height: 1000px;
}

.signup-page-container:after {
    content: " ";
    z-index: 10;
    display: block;
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    min-height: 1000px;
  }

  .signup-form-container{
    position: absolute;
    top: 10px;
    left: 20%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    padding: 5%;
    min-width: 700px;
    max-width: 700px;
    min-height: 600px;
  }

  .signup-page-home-link{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 999;
    width: 50%;
    padding: 5%;
    color: #FB3668;
  }

  .signup-page-home-link a{
    color: #FB3668;
  }
  .signup-page-home-link a:hover{
    color: white;
  }

  

  .marina-cove-image{
      border-radius: 999px;
      width: 40%;
  }